.Card-section1 {
    
    display: flex;
    justify-content: center;
    height: 100vh;

}

.Card-section2 {

width: 80%;
background-color: black;
color: brown;}
.Card-section3{
    width: 20%;
    height: 20%;
    
}